$iota-riu-utils-width: 'width-auto';
.#{$iota-global-utilities-namespace} {
  @each $i, $size in $iota-border-radius {
    &border#{$i} {
      border-radius: $size;
    }
  }

  &reset {
    &-button {
      background-color: transparent;
      border: 0;
    }
    &-list {
      margin: 0;
      padding: 0;
      text-indent: 0;
      list-style-type: 0;
    }
    &-hr {
      height: 1px;
      border: none;
    }
  }

  &list {
    &-inside {
      list-style-position: inside;
    }
  }

  &pointer {
    cursor: pointer;
  }

  &elevation {
    &-light {
      box-shadow: $token-elevation-light;
    }
    &-dark {
      box-shadow: $token-elevation-dark;
    }
  }

  &truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &size {
    height: $token-size-percentage-full;
    width: $token-size-percentage-full;
  }

  &height {
    height: $token-size-percentage-full;

    &-100v {
      height: 100vh;
    }
  }

  &width {
    width: $token-size-percentage-full;

    &-100v {
      width: 100vw;
    }
  }

  // Iota add-ons
  &mh-auto {
    margin: {
      left: auto;
      right: auto;
    }
  }
  &as {
    &-end {
      align-self: flex-end;
    }
    &-stretch {
      align-self: stretch;
    }
  }
}
/* IOTA - extra */
@each $breakpoint-name, $breakpoint-size in $iota-utils-display-breakpoints {

  @media #{$breakpoint-size} {
    .#{$iota-utils-display-var-display + $iota-riu-utils-width + $iota-global-breakpoint-separator + $breakpoint-name} {
      width: auto !important;
    }
  }
}
