$token-container-gutter: 8px;

$token-container-gutter-xs: $token-container-gutter;
$token-container-gutter-md: ($token-container-gutter * 2);
$token-container-gutter-lg: ($token-container-gutter * 4);
$token-container-mobile: 600px;
$token-container-desktop: 1500px;

$iota-container-list: (
  null: $token-size-percentage-full,
  sm: $token-container-desktop
);

$iota-container-list-extra: (
  fluid: 100%
);

$iota-gutter-list: (
  null: $token-container-gutter-md,
  xs: $token-container-gutter-lg
);
