$token-baseline-base: 4px;

$iota-spacing-extra: (
  -null: 0,
  -xs: $token-baseline-base,
  -sm: ($token-baseline-base * 2),
  -md: ($token-baseline-base * 4),
  -lg: ($token-baseline-base * 6),
  -xl: ($token-baseline-base * 8)
);

$iota-media-extra: (
  null: 0,
  xs: $token-baseline-base,
  sm: (
    $token-baseline-base * 2
  ),
  md: (
    $token-baseline-base * 4
  ),
  lg: (
    $token-baseline-base * 6
  ),
  xl: (
    $token-baseline-base * 8
  )
);

$iota-border-radius: (
  -null: 0,
  -xs: $token-baseline-base,
  -sm: ($token-baseline-base * 2),
  -md: ($token-baseline-base * 4),
  -lg: ($token-baseline-base * 6),
  -xl: ($token-baseline-base * 8),
  -full: 100%
);
