<div class="u-bgcolor-lighten-25 u-p-lg u-width u-height-100v">
  <main class="o-container">
    <div class="u-mb-lg">
      <h2 class="u-mb-md">Page Title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id provident
        velit reiciendis blanditiis qui, iure sequi in! Aperiam error quibusdam
        necessitatibus voluptatem neque possimus, facere, reiciendis consequatur
        id tempore quas.
      </p>
    </div>
    <div class="o-grid">
      <div class="o-grid__col u-6/12@xs u-4/12@sm u-3/12@md u-mb-lg">
        <div class="u-size u-flex u-fd-col u-bgcolor-white">
          <img
            src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
            alt=""
            class="u-size img-cover"
          />
          <div class="u-p-md">
            <h5>Title</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
              provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
              error quibusdam necessitatibus voluptatem neque possimus, facere,
              reiciendis consequatur id tempore quas.
            </p>
          </div>
        </div>
      </div>
      <div class="o-grid__col u-6/12@xs u-4/12@sm u-3/12@md u-mb-lg">
        <div class="u-size u-flex u-fd-col u-bgcolor-white">
          <img
            src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
            alt=""
            class="u-size img-cover"
          />
          <div class="u-p-md">
            <h5>Title</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
              provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
              error quibusdam necessitatibus voluptatem neque possimus, facere,
              reiciendis consequatur id tempore quas.
            </p>
          </div>
        </div>
      </div>
      <div class="o-grid__col u-6/12@xs u-4/12@sm u-3/12@md u-mb-lg">
        <div class="u-size u-flex u-fd-col u-bgcolor-white">
          <img
            src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
            alt=""
            class="u-size img-cover"
          />
          <div class="u-p-md">
            <h5>Title</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
              provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
              error quibusdam necessitatibus voluptatem neque possimus, facere,
              reiciendis consequatur id tempore quas.
            </p>
          </div>
        </div>
      </div>
      <div class="o-grid__col u-6/12@xs u-4/12@sm u-3/12@md u-mb-lg">
        <div class="u-size u-flex u-fd-col u-bgcolor-white">
          <img
            src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
            alt=""
            class="u-size img-cover"
          />
          <div class="u-p-md">
            <h5>Title</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
              provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
              error quibusdam necessitatibus voluptatem neque possimus, facere,
              reiciendis consequatur id tempore quas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
