
<div class="cont40">
  <h2 class="u-mt-lg u-mb-md">Gap 40px</h2>
  <div class="row">
    <div class="col">
      <div class="u-size u-flex u-fd-col u-bgcolor-white">
        <img
          src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
          alt=""
          class="u-size img-cover"
        />
        <div class="u-p-md">
          <h5>Title</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
            error quibusdam necessitatibus voluptatem neque possimus, facere,
            reiciendis consequatur id tempore quas.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="u-size u-flex u-fd-col u-bgcolor-white">
        <img
          src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
          alt=""
          class="u-size img-cover"
        />
        <div class="u-p-md">
          <h5>Title</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
            error quibusdam necessitatibus voluptatem neque possimus, facere,
            reiciendis consequatur id tempore quas.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="u-size u-flex u-fd-col u-bgcolor-white">
        <img
          src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
          alt=""
          class="u-size img-cover"
        />
        <div class="u-p-md">
          <h5>Title</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
            error quibusdam necessitatibus voluptatem neque possimus, facere,
            reiciendis consequatur id tempore quas.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="u-size u-flex u-fd-col u-bgcolor-white">
        <img
          src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
          alt=""
          class="u-size img-cover"
        />
        <div class="u-p-md">
          <h5>Title</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
            error quibusdam necessitatibus voluptatem neque possimus, facere,
            reiciendis consequatur id tempore quas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cont32">
  <h2 class="u-mt-lg u-mb-md">Gap 32px</h2>
  <div class="row">
    <div class="col">
      <div class="u-size u-flex u-fd-col u-bgcolor-white">
        <img
          src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
          alt=""
          class="u-size img-cover"
        />
        <div class="u-p-md">
          <h5>Title</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
            error quibusdam necessitatibus voluptatem neque possimus, facere,
            reiciendis consequatur id tempore quas.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="u-size u-flex u-fd-col u-bgcolor-white">
        <img
          src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
          alt=""
          class="u-size img-cover"
        />
        <div class="u-p-md">
          <h5>Title</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
            error quibusdam necessitatibus voluptatem neque possimus, facere,
            reiciendis consequatur id tempore quas.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="u-size u-flex u-fd-col u-bgcolor-white">
        <img
          src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
          alt=""
          class="u-size img-cover"
        />
        <div class="u-p-md">
          <h5>Title</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
            error quibusdam necessitatibus voluptatem neque possimus, facere,
            reiciendis consequatur id tempore quas.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="u-size u-flex u-fd-col u-bgcolor-white">
        <img
          src="https://media-cdn.tripadvisor.com/media/photo-s/1a/30/e5/aa/hotel-riu-vallarta.jpg"
          alt=""
          class="u-size img-cover"
        />
        <div class="u-p-md">
          <h5>Title</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            provident velit reiciendis blanditiis qui, iure sequi in! Aperiam
            error quibusdam necessitatibus voluptatem neque possimus, facere,
            reiciendis consequatur id tempore quas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
